Source/UI/Web References/ZiYangWebService/ZiYangWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InportBiochemistryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InportBiochemistryDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InportBiochemistryDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsData">
        <s:complexType />
      </s:element>
      <s:element name="GetStatisticsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsDataByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsDataByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsDataByIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InportBiochemistryDataSoapIn">
    <wsdl:part name="parameters" element="tns:InportBiochemistryData" />
  </wsdl:message>
  <wsdl:message name="InportBiochemistryDataSoapOut">
    <wsdl:part name="parameters" element="tns:InportBiochemistryDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatisticsData" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsDataByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatisticsDataByID" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsDataByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsDataByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ZiYangWebServiceSoap">
    <wsdl:operation name="InportBiochemistryData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">导入生化数据</wsdl:documentation>
      <wsdl:input message="tns:InportBiochemistryDataSoapIn" />
      <wsdl:output message="tns:InportBiochemistryDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得统计数据</wsdl:documentation>
      <wsdl:input message="tns:GetStatisticsDataSoapIn" />
      <wsdl:output message="tns:GetStatisticsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsDataByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得单个人的统计数据</wsdl:documentation>
      <wsdl:input message="tns:GetStatisticsDataByIDSoapIn" />
      <wsdl:output message="tns:GetStatisticsDataByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZiYangWebServiceSoap" type="tns:ZiYangWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InportBiochemistryData">
      <soap:operation soapAction="http://tempuri.org/InportBiochemistryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsData">
      <soap:operation soapAction="http://tempuri.org/GetStatisticsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsDataByID">
      <soap:operation soapAction="http://tempuri.org/GetStatisticsDataByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZiYangWebServiceSoap12" type="tns:ZiYangWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InportBiochemistryData">
      <soap12:operation soapAction="http://tempuri.org/InportBiochemistryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsData">
      <soap12:operation soapAction="http://tempuri.org/GetStatisticsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsDataByID">
      <soap12:operation soapAction="http://tempuri.org/GetStatisticsDataByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZiYangWebService">
    <wsdl:port name="ZiYangWebServiceSoap" binding="tns:ZiYangWebServiceSoap">
      <soap:address location="http://localhost:1354/ZiYangWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ZiYangWebServiceSoap12" binding="tns:ZiYangWebServiceSoap12">
      <soap12:address location="http://localhost:1354/ZiYangWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>